<configuration>
  <appSettings>
    <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="main.app"/>
    <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS" value="D:\home\site\wwwroot\env\Scripts\python.exe"/>
    <add key="pythonpath" value="%SystemDrive%\home\site\wwwroot"/>
    <add key="WSGI_HANDLER" value="virtualenv_proxy.get_venv_handler()"/>
  </appSettings>
 
  <system.web>
  
  <httpModules>
  
  
  <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
  
  </httpModules>
  </system.web>
  <system.webServer>
  
  <validation validateIntegratedModeConfiguration="false"/>
  
  <modules>
  
  
  <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
  preCondition="managedHandler"/>
  
  </modules>
  </system.webServer>
</configuration>
